__pycache__/
*.py[cod]
.DS_Store
.venv/
venv/
env/

data/*
!data/.gitkeep
outputs/*
!outputs/.gitkeep

results_summary.csv
*.pt
*.pth

demo_paper/*.aux
demo_paper/*.bbl
demo_paper/*.blg
demo_paper/*.fdb_latexmk
demo_paper/*.fls
demo_paper/*.log
demo_paper/*.out
demo_paper/*.synctex.gz
demo_paper/*.pdf
